{% extends 'admins/base.html' %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Заказы</h1>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>№ заказа</th>
                        <th>Сумма</th>
                        <th>Статус</th>
                        <th>Удален</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>№ заказа</th>
                        <th>Сумма</th>
                        <th>Статус</th>
                        <th>Удален</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for order in object_list %}
                    <tr>
                        <td>{{ order.user }}</td>
                        <td><a href="{% url 'admins:admin_order_update' order.id %}" style="color: dodgerblue">{{ order.id }}</a></td>
                        <td>{{ order.get_total_cost }}</td>
                        <td>{{ order.get_status_display }}</td>
                        {% if not order.is_active %}
                            <td>Удален</td>
                        {% else %}
                            <td>Активен</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}