{% extends 'admins/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Изменение статуса заказа № {{ object.id }}</h1>
        <div class="card-body">
            <form action="{% url 'admins:admin_order_update' object.id %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row mb-2">
                    <div class="col-lg-6">
                        <div>
                            <label class="small mb-1" for="{{ form.category.id_for_label }}">Статус заказа</label>
                            {{ form.status }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label class="small mb-1" for="{{ form.quantitly.id_for_label }}">Существует</label>
                            {{ form.is_active }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-info" type="submit" value="Сохранить">
                        <a class="btn btn-secondary" href="{% url 'admins:admin_orders' %}">Назад</a>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-12" style="margin-top: 33px;">
                    <form action="{% url 'admins:admin_prodacts_remove' object.id %}" method="post">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}